<!DOCTYPE html>
<html lang="id">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard SIMAS</title>

    <link rel="stylesheet" href="../css/dashboard.css">

    <script defer src="../js/dashboard.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">

</head>

<body>

<div class="wrapper">

    <!-- Sidebar -->

    <aside class="sidebar">

        <div class="logo-area">

            <img src="../assets/images/logo.png">

            <h2>SIMAS</h2>

            <p>SDN MAYANGAN 2</p>

        </div>

        <ul>

            <li class="active">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </li>

            <li>
                <i class="fa-solid fa-user-group"></i>
                Guru
            </li>

            <li>
                <i class="fa-solid fa-users"></i>
                Siswa
            </li>

            <li>
                <i class="fa-solid fa-school"></i>
                Kelas
            </li>

            <li>
                <i class="fa-solid fa-camera"></i>
                Absensi
            </li>

            <li>
                <i class="fa-solid fa-chart-column"></i>
                Laporan
            </li>

            <li>
                <i class="fa-solid fa-gear"></i>
                Pengaturan
            </li>

            <li>
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </li>

        </ul>

    </aside>

    <!-- Main -->

    <main>

        <header>

            <div>

                <h1>Dashboard SIMAS</h1>

                <p>Sistem Informasi Manajemen Absensi Sekolah</p>

            </div>

            <div class="top-right">

                <div id="clock"></div>

                <img src="../assets/images/default-user.png">

            </div>

        </header>

        <section class="content">

            <h2>Selamat Datang</h2>

            <p>

                Selamat datang di Sistem Informasi Manajemen Absensi Sekolah
                SDN Mayangan 2.

            </p>

        </section>

        <footer>

            © 2026 SIMAS | SDN MAYANGAN 2

        </footer>

    </main>

</div>

</body>

</html>