<div class="container-fluid vh-100">

<div class="row h-100">

<div class="col-lg-6 d-flex align-items-center justify-content-center">

<div class="w-75">

<h1 class="fw-bold">

SIMAS

</h1>

<p>

Sistem Informasi Manajemen Absensi Sekolah

</p>

<div class="mb-3">

<label>

Username

</label>

<input
id="username"
class="form-control">

</div>

<div class="mb-3">

<label>

Password

</label>

<input
id="password"
type="password"
class="form-control">

</div>

<button
id="btnLogin"
class="btn btn-primary w-100">

Masuk

</button>

</div>

</div>

<div class="col-lg-6 bg-primary d-none d-lg-flex
align-items-center
justify-content-center
text-white">

<div class="text-center">

<img
src="assets/images/logo.png"
width="170">

<h2 class="mt-4">

SDN MAYANGAN 2

</h2>

<p>

SIMAS Version 1.0

</p>

</div>

</div>

</div>

</div>

